body {
  font-family: Inter, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.003em;
  background-color: var(--color-background);
}

// reset button
button {
  margin: 0;
  background: none;
  border: 0;
  border-radius: 0;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color-accent);
  }
}

pre {
  overflow: auto;
  padding: 0.5em;
  background: var(--color-grey--light);
}

code {
  background: var(--color-grey--light);
}

a {
  word-wrap: break-word;
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: var(--color-link--visited);
  }
}
