:root {
  --color-background: hsl(0, 0%, 100%);
  --color-text: hsl(0, 0%, 13%);
  --color-text--faded: hsl(0, 0%, 40%);
  --color-accent: hsl(204, 81%, 45%);
  --color-appheader-text: hsl(0, 0%, 100%);
  --color-appheader-background: hsl(204, 81%, 30%);
  --color-title: hsl(204, 81%, 30%);
  --color-title--faded: hsl(204, 10%, 60%);
  --color-action-background: hsl(204, 81%, 30%);
  --color-action-text: hsl(0, 0%, 100%);
  --color-grey--light: hsl(0, 0%, 93%);
  --color-grey--medium: hsl(0, 0%, 53%);
  --color-overlay: hsla(0, 0%, 0%, 0.5);
}
